<p style="color: green"><%= notice %></p>

<h1>Welcome to my first blog!</h1>

<%= cl_image_tag("scl7elgrv7ch7mqxasd9",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
